include ../../inputs/textFieldSubscription/textFieldSubscription.pug
mixin footerWithNav (rus)
    if rus
        -var navigation = [["навигация", "О нас", "Новости", "Служба поддержки", "Услуги"],["о нас", "О сервисе", "Наша команда", "Вакансии", "Инвесторы"],["Служба поддержки", "Соглашения", "Сообщества", "Связь с нами"],["Подписка", "Получайте специальные предложения и новости сервиса"]]
        -var copyright = "Copyright © 2018 Toxin отель. Все права зачищены."
        -var logoText = "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
        -var placeholder = "Email"
    else 
        -var navigation = [["Navigation", "About Us", "News", "Support", "Products"],["ABOUT US", "Who we are", "Our team", "Careers", "Investors"],["Support", "Documentation", "Community", "Get in Touch"],["Subscribe to our newsletter", "Receive our latest news and promotions in your inbox!"]]
        -var copyright = "Copyright © 2018 Toxin UI Kit. All rights reserved."
        -var logoText = "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."
        -var placeholder = "Your email address"
    footer(class="footerWithNav__container")
        div(class='footerWithNav__navContaner')
            div(class="footerWithNav__logoContainer")
                img(class="footerWithNav__logoImg" src="/assets/img/Logo.png" alt="logo")
                p(class="footerWithNav__logoText")= logoText
            nav(class="footerWithNav_navigationContainer")
                ul(class="footerWithNav__mainNavList")
                    -for (var i = 0; i < navigation.length-1; i++)
                        li(class="footerWithNav__mainNavListItem")
                            ul(class="footerWithNav__navSectionList")
                                -for (var j = 0; j < navigation[i].length; j++)
                                    li(class="footerWithNav__navSectionListItem")
                                        a(class="footerWithNav__navSectionListItemText" href='#')= navigation[i][j]
                    li(class='footerWithNav__mainNavListItem')
                        div(class='footerWithNav__subscriptionContainer')
                            h3(class='footerWithNav__subscriptionFieldHeader')= navigation[3][0]
                            p(class="footerWithNav__subscriptionText")= navigation[3][1]
                            div(class='footerWithNav__textFieldSubscriptionContainer')
                                +textFieldSubscription(placeholder, '')
                
        div(class='footerWithNav__copyrightContainer')
            p(class='footerWithNav__copyrightText')= copyright
            div(class='footerWithNav__socialButtonsContainer')
                a(class='footerWithNav__socialLink' href='#')
                    i(class="footerWithNav__socialIcon fab fa-twitter")
                a(class='footerWithNav__socialLink' href='#')
                    i(class="footerWithNav__socialIcon fab fa-facebook-square")
                a(class='footerWithNav__socialLink' href='#')
                    i(class="footerWithNav__socialIcon fab fa-instagram")
                        
            
